#home{
    background-image: url("../../../public/bg1.gif");
    min-height:100vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-flow: column;
    padding-top: 1%;
}
#myimg{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 3px solid rgb(207, 34, 34);
    margin-bottom: 2px;
}
#name{
    color: rgb(207, 34, 34);
    font-size: 90px;
    text-shadow:
    -5px -5px 0 #000,  
     5px -5px 0 #000,
    -5px  5px 0 #000,
     5px  5px 0 #000;
}
#badge{
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow:
    -5px -5px 0 #000,  
     5px -5px 0 #000,
    -5px  5px 0 #000,
     5px  5px 0 #000;
}
#typer{
    border: 2px solid white;
    width: 370px;
    padding: 2px;
    border-radius: 5px;
    font-size: 180%;
    overflow: hidden;
}

#download{
    background-color: rgb(207, 34, 34);
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px;
    margin-top: 0px;
    text-decoration: none;
}
#download span{
    border:2px solid rgb(207, 34, 34);
    border-radius: 20px;
    margin-right: 5px;
}
#download:hover > span{
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='rgb(255, 255, 255)' /%3E%3Cstop offset='25%25' stop-color='rgb(255, 255, 255)' /%3E%3Cstop offset='50%25' stop-color='rgb(255, 255, 255)' /%3E%3Cstop offset='100%25' stop-color='rgb(255, 255, 255)' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

@media screen and (max-width: 900px){
    #name{
        font-size: 10vw;
    }
    #badge{
        font-size: 6vw;
    }
    #typer{
        font-size: 5vw;
        width: max-content;
    }
}