  #distant{
    height:30px;
  }

  .topnav {
    position: fixed !important;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #333;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 999;
  }

  .name{
    margin-right: auto;
    background-color: #333!important;
    font-weight: 600;
  }

  .topnav a {
    float: left;
    /* display: block; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: rgb(207, 34, 34)!important;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  .topnav a:hover{
    background-color: #555;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive {
      display: block;
      width: 100%;
      text-align: left;
    }
  }